mqtt:
  host: localhost
  # port: 1883 # (Optional, defaults to 1883)
  username: user
  password: pass
#discovery_prefix: homeassistant # (Optional)
#device_name: mydevice # (Optional, defaults to hostname)
plugins:
  availability:

